body {
    background: linear-gradient(#7CDBD5, white);
    margin: 0;
    padding: 0;
} 

header {
    background-color: rgb(2, 105, 109);
    border: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

nav {
    display: flex;
    justify-content: center;
    margin: auto;
}

h1 {
    text-align: center;
    font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
    color: #F53240;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    margin-bottom: 0;
}

h2 {
    font: 400 2em 'Pacifico', Helvetica, sans-serif;
}

p {
    font: 400 3em;
    color: rgb(2, 105, 109);
}

button {
    background-color: #F53240;
    color:  black;
    height: 60px;
}

form {
    display: block;
}

.navButtons{
    height: 50px;
    color: rgb(2, 105, 109);
    font: 400 2em 'Pacifico', Helvetica, sans-serif;
}

.total {
  
    font-weight: bold;
}

.table {
    text-align: center;
    border: solid 2px;
    margin: 10px;
}

.data {
    border: solid 1px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.name {
    background-color: #F53240;
    border: 3px ridge black;
    font-weight: bold;
}

.emphasized {
    font-style: italic;
    font: 400 2em 'Pacifico', Helvetica, sans-serif;
}

#fishHero {
    float:right;
    max-width: 80%;
    opacity: .9;
    margin-top: 0;
    padding-top: 0;
}

#pictureRow {
    display: inline;
    background-color: white;

}

#pictureRow img{
    width: 16%;
    height: 100px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(2, 105, 109);
    
}